body{
    margin:0 auto;
    width:750px;
    border:1px solid black;
    text-align: center;
    padding:10px;
}

.title{
    font-weight: bold;
}
.head_container{
    width:100%;
    height:100px;
    background-color: rgb(233, 232, 232);
    padding:0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.head_items{
    height:100px;
    width:150px;
}

.drop_down_container{
    width:100%;
    height:450px;
    border:1px solid brown;
    
}

.input_division{
    height:100px;
    width: 100%;
    border:1px solid #000000;
    display: inline-block;
    
    
}

.typeAmount{
    height: 30px;
    width:150px;
    border-radius: 30px;
    border-style: groove;    
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
}

.dropdown{
    width:150px;
    height:30px;
    margin-left: 20px;
    overflow:hidden; 
    border: none;
    outline: none;
    border-top:1px solid black;
    border-bottom: 1px solid black;
}

.addItem{
    height:30px;
    width: 150px;
    margin-left: 20px;
    outline: none;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}
.addItem:hover{
    background-color: rgb(245, 243, 243);
    box-shadow: 0 2px rgb(243, 197, 191);
}

.history_head{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.history_division{
    width: 100%;
    height:275px;
    overflow-x: hidden;
    overflow-y: auto;
    
}

table{
        width:100%; 
}
td {
    border:0.5px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
    text-align: center;
    
    padding:10px;

}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    border: 0.5px solid black;
 
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background:lightgray;
}